.tasks {
    margin-top: 120px;
    .task {
        background: #453a3a;
        margin-bottom: 30px;
        margin-left: 5%;
        h1 {
            line-height: 80px;
            font-size: 20px;
        }
    }
}